

body {
    background-color: #aaf7b3
  }
  /* 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0 20px;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  } */
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 450px;
    background-color: rgb(29, 87, 49);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(11, 240, 80, 0.3);
    height: 250px;
  }
  
  .image img {
    transition: all 0.7s;
    height: 150px;
    width: auto;
  }
  
  .card:hover .image img {
    transform: scale(1.4)
  }
  
  .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .name {
    font-size: 22px;
    font-weight: bold
  }
  
  .idd {
    font-size: 14px;
    font-weight: 600
  }
  
  .idd1 {
    font-size: 12px
  }
  
  .number {
    font-size: 22px;
    font-weight: bold
  }
  
  .follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
  }
  
  .btn1 {
    height: 30px;
    width: 100px;
    border: none;
    background-color: #448f44;
    color: white;
    font-size: 12px;
    border-radius: 35px;
  }
  
  .btn2 {
    height: 30px;
    width: 100px;
    border: none;
    background-color: #448f44;
    color: #ffffff;
    font-size: 12px;
    border-radius: 30px;
  }
  
  .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
  }
  
  .icons i {
    font-size: 19px
  }
  
  hr .new1 {
    border: 1px solid
  }
  
  .join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
  }
  
  .date {
    background-color: #ccc
  }
  
  .button-row{
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .side-card{

    width:270px;
    margin-left :180px;
    margin-top:-140px;
    height: 250px;
    border-radius: 10px;
    line-height: 60px;
  }

  .image-div{
    margin-top:1px;
    width:180px
  }